---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - metrics.k8s.io
  resources:
  - pods
  verbs:
  - get
  - list
- apiGroups:
  - sparkinteractive.io
  resources:
  - sparkinteractivesessions
  - sparksessionpools
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sparkinteractive.io
  resources:
  - sparkinteractivesessions/finalizers
  - sparksessionpools/finalizers
  verbs:
  - update
- apiGroups:
  - sparkinteractive.io
  resources:
  - sparkinteractivesessions/status
  - sparksessionpools/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - sparkoperator.k8s.io
  resources:
  - sparkapplications
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
